body, html {
	min-height: 100%
}

img {
	max-width: 50%
}

body {
background-image: url(https://lh3.googleusercontent.com/PUKXFqD4TIkBP7hBpmLXtKemGEY8ciacbdgo_tHMHMLPvopXePWFYDVlQyMx_rYNsdnNW6qFAZtyYawUa3xKpCQKrQpcl3EJC65BGbhxsG3aFh_tO0dg_7CtkMMXeLD-4WeiCB2do7MHko89jYKmiYn2mX-7tNSzOe7rlnMMi321HA3CY_cvuWSp25vSGjpIizwTuCrPpAMua8c1j-4Ea9yLViCEPAbf4RomaBldwl9nGQcv2x_jPGekQmmQSeTMDNOq4NdxL9xNh-RrvekyC2oPdDXi7ytUDNKU6xtdVfhGeIizEP1GdOk-x_-a1NQTrm_JGdLHh2L68mUz2h889PBd9hDYqBwaTlW0FPBnKUaqRdCNcD5VWa4RmnxpU2P66QGA9fKUQkgH-poVowG8iEJCep0TFDx_KxNqnkIUSnk07Ju2zdnVuly4x_FJC_XqsSeDkw50ebIHkJ70OZzlHWhh40rNs7jbIyAXoypvKqFFOCheMnqT6X0aHmyBB1e0AgqzoT9e2nN9k6PJrsXkp-oGCY2dLqLkHL3j_IVOtDFPTIHirc1zpnJe_EENgXMb7CFR=w2636-h1112-no);
	background-size: cover;
	background-repeat: no-repeat;
	background-color:#3eb8c3;

		text-align: center
}
h1{ text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: medium;
    color: white;
} 

p {
	color:white; 
	font-family: sans-serif;
	font-style: normal;
}
h1 {
	letter-spacing: 5px
	text-transform: uppercase;
}

a:link {
	background-color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: small;
	text-decoration: none;

}
h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: large;
    color: white;
}
footer {
  background: #F79300;
  font-family: sans-serif;
  font-size: 10px
}